<h1>Historicos de contato do cliente:</h1>

<h1>Novo usuário cadastrado com sucesso</h1>
  <p>
    <%= @cliente.nome %><br>
  </p>
 
  <p>
    <%= @cliente.telefone %>
  </p>
 
 <p>
    <%= @cliente.email %>
  </p>
  
  
<table border='1'>
	<tr>
		<th>Nome</td>
		<th>Telefone</td>
		<th>E-mail</td>
		<th>Informações</td>
		<th>Editar</td>
		<th>Desativar</td>
	</tr>
	
	<% #@clientes.each do |cliente| %>
	<tr>
		<td><%#= #cliente.nome %></td>
		<td><%#= #cliente.telefone %></td>
		<td><%#= #cliente.email %></td>
		<td><%#= #link_to 'Informações', cliente_path(cliente) %></td>
		<td><%#= #link_to 'Editar', edit_cliente_path(cliente) %></td>
		<td><%#= #link_to 'Desativar', cliente_path(cliente), 
					method: :delete,
					data: { confirm: 'Tem certeza que deseja excluir o cliente?' }  %></td>
	</tr>
	<% end %>
</table>

<p><%= link_to 'Listar clientes', clientes_path %></p>
