<h1>Novo usuário cadastrado com sucesso</h1>
  <p>
    <%= @cliente.nome %><br>
  </p>
 
  <p>
    <%= @cliente.telefone %>
  </p>
 
 <p>
    <%= @cliente.email %>
  </p>
  
  
<p><%= link_to 'Listar clientes', clientes_path %></p>
  