// Place all the styles related to the Eventos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendario_eventos .calendar {
	border-collapse: collapse;
	width: 800px;
	
	td, th {
		/*font-family: "Lucida Grande", arial, helvetica, sans-serif;*/
		font-size: 10px;
		padding: 6px;
		border: 1px solid #999;
	}
	
	td {
		background: #FFF;
		color: #777;
		height: 80px;
		vertical-align: top;
		font-size: 16px;
	}
	
	.notmonth { color: #CCC; }
	.today { background-color: #D7F2FF; }
}

#calendario_eventos #month {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	a {
		text-decoration: none;
		padding: 0 10px;
		color: #999;
	}
}

#calendario_eventos ul {
	font-size: 11px;
	padding_left: 20px;
}


div#proposta {
    height: 30px;
    border-bottom: solid 1px;
	
	div#description ,
	div#active ,
	div#value,
	div#action {
	}
	
	div#description ,
	div#active ,
	div#value {
       float: left;
	}
	div#action {
	   float: right;
	}
	
	
	div#description {
	   width: 40%;
	}
	
	div#active {
	   width: 20%;
	}
	
	div#value {
	   width: 10%;
	}
	
	div#action {
	   width: 30%;
	}

}