<div id="central">
	<div id="central-esquerda">
		<p>Sistema de gestão de eventos</p>
		<p>Essa página será destinada à gerar uma visão gráfica dos indicadores da empresa.</p>
	</div>
	<div id="calendar"></div>
</div>
