<div id="central">
	<div id="central-esquerda">
		<p>Sistema de gestão de eventos</p>
		<p>Essa página será destinada à gerar uma visão gráfica dos indicadores da empresa.</p>
		<p>
			<% Evento.estado.each do |sta| %>
				<%= check_box_tag "central-status", sta, false, class: 'central-status' %>
				<%= label_tag(":central-status-'#{sta}'", sta) %>
				<br />
		 	<% end %>
		</p>
	</div>
	<div id="calendar"></div>
</div>
